<header>
  <h1>{{ title }}</h1>
  <nav class="nav">
    <a class="nav-link active" href="/">Sente o Clima</a>
    <a class="nav-link" href="/sobre">Sobre</a>
    <a class="nav-link" href="/ajuda">Ajuda</a>
  </nav>
</header>